div.classinput input {
    width: 100%;
    height: 2.5em;
    font-size: 1em;

}

div.classinput textarea {
    width: 100%;
    height: 4em;
    font-size: 1em;
}

.Error {
    color: tomato;
}

h2 {
    text-align: center;
}
