* {
    box-sizing: border-box;
}

.responsive {
    padding: 0% 1%;
    float: left;
    width: 25%;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery img {
    width: auto;
    height: auto;
}

div.desc {
    padding: 2%;
}

.clearfix {
    clear: both;
}

@media only screen and (max-width: 800 px) {
    .responsive {
        width: 50%;	
        margin: 1%;
    }
}

@media only screen and (max-width: 360 px) {
    .responsive {
        width: 100%;
    }
}
