div#features-list div.feature{
    float: left;
    clear: both;
}

span.subTitle {
    font-size: 2em;
}

div#features-list div.feature p{

}

div#features-list div.feature img{
    float: left;
    clear: both;
    margin: 10px 20px 10px 0px;
}

div#feature-list {
    clear: both;
}

div.container {
    display: block;
    margin: 0px 20% 0px 20%;
    /* width: 80%; */
}

footer {
    clear: both;
}