div#features-list div.feature{
    float: left;
    clear: both;
}

div#features-list div.feature p{

}

div#features-list div.feature img{
    float: left;
    clear: both;
    margin: 10px 20px 10px 0px;
}

div#feature-list {
    clear: both;
}

footer {
    clear: both;
}